#mainW{
    height: 110vh;
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-around;
}


#wForm{
    border: 2px solid grey;
    height: 83vh;
    width: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgb(12, 12, 12);
    border-radius: 14px;
    
}

#wForm #wHead{
    font-size: 3rem;
    font-weight: bold;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    height: auto;

}

#type{
    border-bottom: 2px solid rgb(173, 169, 169);
    height: 60px;
    width: 85%;
    border-radius: 12px;
    color: white;
}
select:invalid{
    color: rgb(0, 0, 0);
    padding-left: 15px;
    opacity: 0.7;
}

#wForm .i{
    color: rgb(73, 71, 71);
    height: 60px;
    width: 85%;
    border-bottom: 2px solid rgb(173, 169, 169);
    border-radius: 8px;
    padding-left: 10px;
}

.i::placeholder{
    color: rgb(223, 223, 223);
    opacity: 0.7;
}
textarea{
    color:rgb(116, 114, 114);
    border: 2px solid rgb(173, 169, 169);
    padding-left: 15px;
    padding-top: 10px;
    border-radius: 8px;
    width: 85%;
    resize: none;
    margin-top: 10px;
}
textarea::placeholder{
    color: rgb(210, 207, 207);
    opacity: 0.7;
    font-size: 18px;
}

#button{
    border: 2px solid rgb(221, 217, 217);
    height: 50px;
    width: 200px;
    border-radius: 10px;
    font-size: 1.2rem;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: whitesmoke;
}
#sideC{
    width: 40%;
}
#sideC #sHead{
    color: beige;
    font-size: 4rem;
    width: 90%;
    line-height: 4.5rem;
}

#sHead span{
    font-style: italic;
}
#sideC p{
    color: rgb(99, 99, 99);
    font-size: 1.1 rem;
}
#sideC h3{
    color: whitesmoke;
    font-size: 4rem;
}

#sBottom{
    font-size: 4rem;
    color: beige;
    line-height: 4.2rem;
    width: 90%;
    position: relative;
    left: 8rem;
}

#footer{
    color: beige;
    text-align: center;
    height: 5vh;
    font-size: 1.2rem;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
}