

@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amethysta&display=swap');
.headingP{
  margin-top: 50px;
  height: 180px;
}

.headingPg{
  margin-bottom: 70px;
}

.tech{
  color: rgb(255, 184, 248) !important;
  font-weight: bold;
}

.content{
  color: rgb(248, 237, 252);
  margin-top:20px;
  width: 85%;
  margin-left: 10px;
  font-family: "Playfair", serif;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.title{
  font-size: 2.8rem !important;
   font-family: "Amethysta", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(90deg, #ff0090, #d011ed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project{
  background: linear-gradient(90deg, #191919, #000000);
}

.mainPro{
  flex-direction: column;
  height: 26vh;
  display: flex;
  justify-items: space-around;
  /* align-items: center; */
}
.s{
  height: 28vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(146, 235, 255);
}