@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* :root {
  --background: #000000;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #000000;
  }
} */
html {
  scroll-behavior: smooth;
}



@media (min-width:0px) and (max-width: 1200px){
  #home{
    display: none;
  }

  #contt{
    display: none;
  }

  #projects{
    display: none;
  }
  
  #skills{
    display: none;
  }

  #work{
    display: none;
  }
  #mobile{
    display:block;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:beige;
    font-size: 2em;
  }
}

  @media (max-width: 1540px) and (min-width:1201px) {
  #home{
    display: block;
  }

  #contt{
    display: block;
  }

  #projects{
    display: block;
  }
  
  #skills{
    display: block;
  }

  #work{
    display: block;
  }

  #mobile{
    display: none;
  }
}

@media (min-width: 1541px ) and (max-width:2500px){
  #home{
    display: none;
  }

  #contt{
    display: none;
  }

  #projects{
    display: none;
  }
  
  #skills{
    display: none;
  }

  #work{
    display: none;
  }
  #mobile{
    display:block;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(214, 214, 0);
    font-size: 2em;
  }
}